@{ ViewData["Title"] = "Home Page"; }

<link href="~/css/fullcalendar.bundle.css?v=7.0.4" rel="stylesheet" type="text/css" />

<script>

    function RefreshCalendar() {

        var el = document.getElementsByName("UserId");

        var userId = el[0].value;

        window.location.href = "/Home/Index/" + userId;

    }

</script>

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Takvim
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="#" onclick="ClearForm()" class="btn btn-light-primary font-weight-bold" data-toggle="modal" data-target="#exampleModalScrollable">
                <i class="ki ki-plus "></i> Yeni Kayıt
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 mb-lg-0 mb-6">
                <label>Kullanıcı:</label>
                <select name="UserId" class="form-control" onchange="RefreshCalendar()">
                </select>
            </div>
        </div>
        <div id="kt_calendar"></div>
    </div>
</div>



<!-- Modal-->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Kayıt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="height: 700px;">
                <div class="col-lg-12">
                    <div class="card card-custom gutter-b example example-compact">
                        <form class="form" name="frmAppointment">
                            <div class="card-body">
                                <input type="hidden" name="Id" />
                                <div class="form-group">
                                    <label>Müşteri:</label>
                                    <select class="form-control" name="CardCode">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Başlık:</label>
                                    <input type="text" name="Title" class="form-control form-control-solid" placeholder="Başlık" />
                                </div>
                                <div class="form-group">
                                    <label>Açıklama:</label>
                                    <input type="text" name="Description" class="form-control form-control-solid" placeholder="Açıklama" />
                                </div>
                                <div class="form-group">
                                    <label>Başlangıç Tarihi:</label>
                                    <input type="text" id="StartDate" class="form-control form-control-solid" placeholder="Başlangıç Tarihi" />
                                </div>
                                <div class="form-group">
                                    <label>Bitiş Tarihi:</label>
                                    <input type="text" id="EndDate" class="form-control form-control-solid" placeholder="Başlangıç Tarihi" />
                                </div>
                                <div class="form-group">
                                    <label>Event Type:</label>
                                    <select class="form-control" name="AppointmentType">
                                        <option value="1">Ofis</option>
                                        <option value="2">Deactive</option>
                                        <option value="3">İzin</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Save()">Kaydet</button>
            </div>
        </div>
    </div>
</div>



<script src="~/js/fullcalendar.bundle.js?v=7.0.4"></script>


<script>

    function ClearForm() {

            $("[name='Description']").val('');
            RenderDateTimePicker('StartDate', '');
            RenderDateTimePicker('EndDate', '');
            $("[name='Title']").val('');
            $("[name='Id']").val(0);
    }



    var calendarElm;
    function Save() {

        var data = $('[name="frmAppointment"]').serializeArray();

        var startDate = GetFormatedDate($("#StartDate").data("datetimepicker").getDate());

        var endDate = GetFormatedDate($("#EndDate").data("datetimepicker").getDate());

        data.push({ name:"StartDate", value:startDate })
        data.push({ name:'EndDate', value:endDate });



        $.ajax({
            type: 'POST',
            url: 'Home/AddNewApp',
            data: data,
            success: function (result) {

                if (result.isUpdate) {

                    calendarElm.addEvent({
                        title: result.title,
                        description: result.description,
                        start: result.start,
                        end: result.end,
                        className: result.className
                    });
                }
                else {

                    var event = calendarElm.getEventById(result.id);
                    event.setProp('title', result.title);
                    event.setProp('description', result.description);
                    event.setStart(result.start);
                    event.setEnd(result.end);
                }

                $("[name='Description']").val('');
                RenderDateTimePicker('StartDate', '');
                RenderDateTimePicker('EndDate', '');
                $("[name='Title']").val('');
                $("[name='Id']").val(0);

            }
        });

    }


    var events = @Html.Raw(Json.Serialize(ViewData["Events"]));

    var KTCalendarBasic = function () {

        return {
            //main function to initiate the module
            init: function () {
                var todayDate = moment().startOf('day');
                var YM = todayDate.format('YYYY-MM');
                var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
                var TODAY = todayDate.format('YYYY-MM-DD');
                var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

                var calendarEl = document.getElementById('kt_calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
                    themeSystem: 'bootstrap',

                    isRTL: KTUtil.isRTL(),

                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },

                    height: 800,
                    contentHeight: 780,
                    aspectRatio: 3,  // see: https://fullcalendar.io/docs/aspectRatio

                    nowIndicator: true,
                    now: TODAY + 'T09:25:00', // just for demo

                    views: {
                        dayGridMonth: { buttonText: 'Ay' },
                        timeGridWeek: { buttonText: 'Hafya' },
                        timeGridDay: { buttonText: 'Gün' }
                    },

                    defaultView: 'dayGridMonth',
                    defaultDate: TODAY,

                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    navLinks: true,
                    events: events,
                    locale:'tr',
                    eventDrop: function (info) {

                        var data = { Id: info.event.id, StartDate: info.event.start.toISOString(), EndDate: info.event.end.toISOString() };

                        $.ajax({
                            type: 'POST',
                            url: 'Home/UpdateApp',
                            data: data,
                        });

                    },

                    eventClick: function (info) {

                        $.ajax({
                            type: 'GET',
                            url: '../../Home/GetAppointmentById',
                            data: { id: info.event.id },
                            success: function (data) {

                                RenderDateTimePicker('StartDate', data['startDate']);
                                RenderDateTimePicker('EndDate', data['endDate']);
                                $('[name="Title"]').val(data['title']);
                                $('[name="Description"]').val(data['description']);
                                $('[name="AppointmentType"]').val(data['appointmentType']);
                                $('[name="CardCode"]').val(data['cardCode']);
                                $('[name="Id"]').val(info.event.id);

                                $('#exampleModalScrollable').modal();

                            }
                        });




                    },

                    eventResize: function (info) {

                        var data = { Id: info.event.id, StartDate: info.event.start.toISOString(), EndDate: info.event.end.toISOString() };

                        $.ajax({
                            type: 'POST',
                            url: 'Home/UpdateApp',
                            data: data,
                        });

                    },

                    eventRender: function (info) {
                        var element = $(info.el);

                        if (info.event.extendedProps && info.event.extendedProps.description) {
                            if (element.hasClass('fc-day-grid-event')) {
                                element.data('content', info.event.extendedProps.description);
                                element.data('placement', 'top');
                                KTApp.initPopover(element);
                            } else if (element.hasClass('fc-time-grid-event')) {
                                element.find('.fc-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                            } else if (element.find('.fc-list-item-title').lenght !== 0) {
                                element.find('.fc-list-item-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                            }
                        }
                    }
                });

                calendar.render();

                calendarElm = calendar;
            }
        };
    }();

    jQuery(document).ready(function () {

        KTCalendarBasic.init();

        FillDropDown("/JsonObject/GetCustomersForDropDown", "CardCode");

        RenderDateTimePicker('StartDate', '');
        RenderDateTimePicker('EndDate', '');

        FillDropDown("/JsonObject/GetUsersForDropDown", "UserId","@ViewData["SelectedUserId"]");


        $("#menuUser").removeClass("menu-item-open menu-item-here");
        $("#menuTicket").removeClass("menu-item-open menu-item-here");
        $("#menuCalendar").removeClass("menu-item-open menu-item-here").addClass("menu-item-open menu-item-here");
        $("#menuProject").removeClass("menu-item-open menu-item-here");
        $("#menuVersion").removeClass("menu-item-open menu-item-here");
        $("#menuCustomer").removeClass("menu-item-open menu-item-here");
        $("#menuReport").removeClass("menu-item-open menu-item-here");


    });
</script>