
@{
    Layout = null;

}
<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../">
    <title>Sentia Bilisim Onay</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="NetTicket" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Keenthemes | Metronic" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/css/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.min.css" rel="stylesheet" type="text/css" />

    <script>function Approve(id,status) {

    var desc = $("#Description").val();

    var data = [{ name: "UuId", value: id }, { name: "Status", value: status }, { name: "Description", value: desc }];

            $.ajax({
                type: 'POST',
                url: '../../Public/ApproveTicket',
                data: data,
                success: function (result) {


                    if (result.status == 1) {
                        window.location.href= "/Public/ApproveResult"
                    }
                    else {
                        Swal.fire("Hata!", result.message, "error");
                    }
                }
            });

        }</script>

    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="auth-bg" style="background-image: url(../../media/bg/bg-5.jpg);">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Signup Verify Email -->
        <div class="d-flex flex-column flex-column-fluid">
            <!--begin::Content-->
            <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
                <!--begin::Logo-->
                <a href="#" class="mb-10 pt-lg-10">
                    <img src="~/media/firmaLogo3.png" class="max-h-200px" style="margin-right:20px" alt="" />
                </a>
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="pt-lg-10 mb-10">
                    <!--begin::Logo-->
                    <h1 class="fw-bolder fs-2qx text-gray-800 mb-7" style="color:white">Ticket Onay</h1>
                    <!--end::Logo-->
                    <!--begin::Message-->
                    <div class="fs-3 fw-bold text-muted mb-1ü0">
                        <textarea class="form-control" name="Description" id="Description" data-provide="markdown" rows="10"></textarea>
                    </div>
                    <!--end::Message-->
                    <!--begin::Action-->
                    <div class="text-center mb-10">
                        <a onclick="Approve('@ViewBag.UuId',2)" class="btn btn-lg btn-primary fw-bolder">Ticket Onayla</a>
                        <a onclick="Approve('@ViewBag.UuId',1)" class="btn btn-lg btn-secondary fw-bolder">Ticket Reddet</a>
                    </div>
                    <!--end::Action-->
                    <!--begin::Action-->
                    <!--end::Action-->
                </div>
                <!--end::Wrapper-->
               
            </div>
        </div>
        <!--end::Authentication - Signup Verify Email-->
    </div>
    <!--end::Root-->
    <!--end::Main-->
    <!--begin::Javascript-->
    <script>var hostUrl = "assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/js/plugins.bundle.js?v=7.0.4"></script>
    <script src="~/js/scripts.bundle.min.js?v=7.0.4"></script>
    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>