@{ ViewData["Title"] = "Privacy Policy"; }

<style>
    .not-allowed {
        cursor: not-allowed;
    }

    .grabbing {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    .customCell {
        font-size: 13px !important;
        padding: 2px 2px 2px 2px !important;
    }

    .customButtonCell {
        font-size: 13px !important;
        padding: 2px 2px 2px 2px !important;
        text-align: center;
    }

    .modal-open {
        overflow-y: hidden !important;
    }
</style>
<script>

    var ticketNo = 0;

    function GetSubTickets(ticketId,rowIndex) {

        $.ajax({
            type: 'GET',
            url: '../../Ticket/GetSubTickets',
            data: { ticketId: ticketId },
            success: function (data) {

                $('#subTickets').empty();

                if (data == "") {

                    Swal.fire("Bilgilendirme!", "Alt İş Kaydı Bulunamadı.", "info");

                } else {

                    var rowData = table.row(rowIndex).data();

                    $('#subTicketTitle').text("Cari:" + rowData["cardName"]);
                    $('#subTicketSubTitle').text("#" + ticketId + " " + rowData["subject"]);
                    $('#subTickets').append(data);
                    $('#modalSubTicketList').modal();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                Swal.fire("Hata!", "Hata Oluştu.", "error");
            }
        });
    }

    function SubTicketAdd() {

        var ticketId = ticketNo

        var rowIndex = table.rows({ selected: true })[0];

        if (rowIndex.length > 0) {
            ticketId = table.row(rowIndex).data().id;
        }

        if (ticketId == 0) {

            Swal.fire("Hata!", "Önce Bir Ticket Seçiniz.", "error");
            return;
        }

        if ($("#StartDate").data("datetimepicker").getDate() > $("#EndDate").data("datetimepicker").getDate()) {

            Swal.fire("Hata!", "Başlangıç Tarihi Bitiş Tarihinden Büyük Olmalıdır.", "error");
            return;
        }

        if ($("[name='frmSubTicket'] [name='Description']").val() === '') {
            Swal.fire("Hata!", "Açıklama Alanı Boş Geçilemez.", "error");
            return;
        }

        var myForm = document.getElementsByName('frmSubTicket');

        var fileupload = $('[name="frmSubTicket"] [name="File"]').get(0);
        var files = fileupload.files;

        var fd = new FormData(myForm[0]);
        fd.append('File', files[0]);

        fd.append('TicketId', ticketId);

        var startDate = GetFormatedDate($("#StartDate").data("datetimepicker").getDate());

        var endDate = GetFormatedDate($("#EndDate").data("datetimepicker").getDate());

        fd.append('StartDate', startDate);
        fd.append('EndDate', endDate);

        $.ajax({
            type: 'POST',
            url: '../../Ticket/SaveSubTicket',
            data: fd,
            processData: false,
            contentType: false,
            success: function () {

                $("[name='Id']").val(0);
                $("[name='Description']").val('');
                GetSubTickets(ticketId);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Swal.fire("Hata!", "Hata Oluştu.", "error");
            }
        });
    }

    function DeleteSubTicket(id, ticketId) {

        var callback = function () {

            var data = $('[name="frmSubTicket"]').serializeArray();

            data.splice(0, 1);

            data.push({ name: "Id", value: id });

            $.ajax({
                type: 'POST',
                url: '../../Ticket/DeleteSubTicket',
                data: data,
                success: function () {
                    GetSubTickets(ticketId);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    Swal.fire("Hata!", "Hata Oluştu.", "error");
                }
            });
        }

        ShowMessageBox("Emin misiniz?", "Kayıt Silinecektir", "question", callback)
    }

    function UpdateSubTicket(id, ticketId) {

        var myForm = document.getElementsByName('frmSubTicket');

        var fileupload = $('[name="frmSubTicket"] [name="File"]').get(0);
        var files = fileupload.files;

        var content = $('[name="frmSubTicket"] [name="Description"]').markdown().parseContent();

        var fd = new FormData(myForm[0]);
        fd.append('File', files[0]);

        fd.append('Id', id);

        var startDate = GetFormatedDate($("#StartDate").data("datetimepicker").getDate());

        var endDate = GetFormatedDate($("#EndDate").data("datetimepicker").getDate());

        fd.append('StartDate', startDate);
        fd.append('EndDate', endDate);

        $.ajax({
            type: 'POST',
            url: '../../Ticket/CompleteSubTicket',
            data: fd,
            processData: false,
            contentType: false,
            success: function () {

                GetSubTickets(ticketId);


            },
            error: function (xhr, ajaxOptions, thrownError) {
                Swal.fire("Hata!", "Hata Oluştu.", "error");
            }
        });
    }

    function TicketSaveChanges(showSubTicketModal) {

        if ($("[name='frmTicket'] [name='Description']").val() === '') {
            Swal.fire("Hata!", "Açıklama Alanı Boş Geçilemez.", "error");
            return;
        }

        if ($("[name='frmTicket'] [name='Subject']").val() === '') {
            Swal.fire("Hata!", "Konu Alanı Boş Geçilemez.", "error");
            return;
        }


        if ($("[name='frmTicket'] [name='ProjectId']").val() === 0) {
            Swal.fire("Hata!", "Proje Seçmeniz Gerekmektedir.", "error");
            return;
        }


        var a = $("[name='frmTicket'] [name='UserId']").val();
        if ($("[name='frmTicket'] [name='UserId']").val() === null) {
            Swal.fire("Hata!", "Kullanıcı Alanı Boş Geçilemez.", "error");
            return;
        }


        var myForm = document.getElementsByName('frmTicket');

        var fileupload = $('[name="frmTicket"] [name="File"]').get(0);
        var files = fileupload.files;

        var fd = new FormData(myForm[0]);
        fd.append('File', files[0]);

        var estimatedDate = GetFormatedDate($("#EstimatedEndDate").datepicker('getDate'));

        fd.append("EstimatedEndDate", estimatedDate);

        var tag = GetTagifyValue();

        fd.append("TicketLabel", tag);

        $.ajax({
            type: 'POST',
            url: '../../Ticket/SaveTicket',
            processData: false,
            contentType: false,
            data: fd,
            success: function (result) {
                $('[name="frmTicket"]').trigger("reset");

                Swal.fire({
                    icon: 'success',
                    title: 'İşlem Başarılı',
                    showConfirmButton: true,
                    timer: 1500
                });

                RenderData();

                $('#modalTicket').modal('hide');

                if (showSubTicketModal) {

                    if (result > 0) {
                        ticketNo = result;
                    }

                    $("#lblTicketId").text(" - Ticket Id : " + ticketNo)

                    $('#modalSubTicket').modal();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Swal.fire("Hata!", "Hata Oluştu.", "error");
            }
        });

    }

    function ClearForm() {

        $("[name='frmTicket'] [name='Id']").val(0);
        $('[name="frmTicket"]').trigger("reset");
        RenderDatePicker('EstimatedEndDate', new Date());
        $("[name='frmTicket'] [name='Billing']").prop('checked', false);
        $("[name='frmTicket'] [name='UserId']").val(@ViewData["UserId"]);
        ClearTags();
    }

    function FillForm(id, event) {
        event.stopPropagation();
        $.ajax({
            type: 'GET',
            url: '../../Ticket/GetTicketById',
            data: { id: id },
            success: function (data) {

                if (data.status == 2) {
                    Swal.fire("Bilgilendirme!", "Projesi Kapanmış Ticketlarda İşlem Yapılamaz.", "info");
                    return;
                }
                else {
                    data = data.data;
                }


                for (var key in data) {

                    var dom = $('[name="frmTicket"]').find(':input').filter(function () {

                        if ($(this).attr('name') == undefined) return undefined;

                        return $(this).attr('name').toLowerCase().indexOf(key.toLowerCase()) > -1;
                    });


                    var a = dom[0];
                    if (key=='estimatedEndDate') {

                        RenderDatePicker('EstimatedEndDate', data[key]);

                    } else if (!dom.is(':checkbox')) {
                        dom.val(data[key]);
                    }

                    if (key == 'projectId') {

                        var params = [];

                        var cardCode = data["cardCode"];
                        var productId = data["productId"];

                        params.push({ name: "cardCode", value: cardCode });
                        params.push({ name: "productId", value: productId });

                        FillDropDown("/JsonObject/GetProjectsForDropDown", "ProjectId", data["projectId"] ,params);
                    }


                    if (dom.is(':checkbox')) {
                        dom.prop('checked', data[key]);
                    }

                    if (key == "ticketLabel") {

                        AddTag(data[key]);
                    }

                    if (key == "attachment") {

                        $("[name='frmTicket'] input[name=Attachment]").val(data[key]);

                        if (data[key] !== null) {

                            var attchs = data[key].split(';');

                            $("[name='frmTicket'] #divLinks").empty();
                            for (var atc = 0; atc < attchs.length; atc++) {
                                if (attchs[atc] != "") {

                                    $("[name='frmTicket'] #divLinks").css("display", "block");
                                    $("[name='frmTicket'] #divLinks").append($('<a>').text(attchs[atc]).attr('href', "../" + attchs[atc]).attr('target','_blank'));
                                    $("[name='frmTicket'] #divLinks").append($('<br/>'));
                                }
                                else {
                                    $("[name='frmTicket'] #divLinks").css("display", "none");
                                }
                            }
                        }
                    }

                }

                $("#modalTicket").modal();

            }
        });


    }

    function FillSubTicketForm(id) {

        $.ajax({
            type: 'GET',
            url: '../../Ticket/GetSubTicket',
            data: { id: id },
            success: function (data) {


                for (var key in data) {

                    if (key.toLowerCase() === "startdate") {

                        RenderDateTimePicker('StartDate', data[key]);

                        continue;

                    } else if (key.toLowerCase() === "enddate") {

                        RenderDateTimePicker('EndDate', data[key]);

                        continue;

                    }


                    var dom = $('[name="frmSubTicket"]').find(':input').filter(function () {

                        if ($(this).attr('name') == undefined) return undefined;

                        return $(this).attr('name').toLowerCase().indexOf(key.toLowerCase()) > -1;
                    });


                    if (dom[0] === undefined) {
                        dom = $('[name="frmSubTicket"] [name="'+key+'"]');
                    }

                    if (dom[0] === undefined) continue;

                    var domObject = dom[0];
                    if (!$(domObject).is(':checkbox')) {
                        $(domObject).val(data[key]);
                    }

                    if ($(domObject).is(':checkbox')) {
                        $(domObject).prop('checked', data[key]);
                    }

                    if (key == "attachment") {


                        $("[name='frmTicket'] input[name=Attachment]").val(data[key]);


                        if (data[key] != "" && data[key] != null) {

                            $("[name='frmTicket'] #attLink").css("display", "block");
                            $("[name='frmTicket'] #attLink").attr("href", "../" + data[key]);
                            $("[name='frmTicket'] #attLink").text(data[key]);
                        }
                        else {
                            $("[name='frmTicket'] #attLink").css("display", "none");
                        }
                    }
                }

                $("#modalSubTicket").modal();

            }
        });
    }

    function ClearSubTicketForm() {
        $('[name="frmSubTicket"] [name="Id"]').val(0);
        $("[name='Description']").val('');
        RenderDateTimePicker('StartDate', '');
        RenderDateTimePicker('EndDate', '');
        $("[name='frmSubTicket'] [name='UserId']").val(@ViewData["UserId"]);
        $("[name='frmSubTicket'] [name='AllDay']").prop('checked', false);
        $("[name='frmSubTicket'] [name='CloseTicket']").prop('checked', false);
    }

    function CancelTicket() {

        var fd = $('[name="frmTicket"]').serializeArray();

        var data = [];
        data.push({ name: "ticketId", value: fd[0].value });

        $.ajax({
            type: 'POST',
            url: '../../Ticket/CancelTicket',
            data: data,
            success: function () {
                RenderData();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Swal.fire("Hata!", "Hata Oluştu.", "error");
            }
        });
    }

    var table;
    function RenderData() {

        var data = $('#frmFilter').serializeArray();



        $.ajax({
            type: 'POST',
            url: "../../Ticket/GetTicketsForClient",
            traditional: true,
            data: data,
            success: function (result) {

                if ($.fn.dataTable.isDataTable('#ticketList')) {
                    table.destroy();
                }

              table=  $('#ticketList').DataTable({
                    dom: 'Bfrtip',
                    data: result,
                    "searching": false,
                    "info": false,
                    "paging": false,
                    "responsive": true,
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf'
                    ],
                    columnDefs: [
                        {
                            className: 'customButtonCell', targets: 7
                        },
                        {
                            className: 'customButtonCell', targets: 8
                        },
                        {
                            className: 'customButtonCell', targets: 9
                        },
                        {
                            className: 'customButtonCell', targets: 10
                        },
                        {
                            className: 'customCell', targets: "_all"
                        }

                    ],
                    "createdRow": function (row, data, index) {
                        $('td', row).eq(0).addClass('grabbing');
                        $('td', row).eq(1).addClass('grabbing');
                        $('td', row).eq(2).addClass('grabbing');
                        $('td', row).eq(3).addClass('grabbing');
                        $('td', row).eq(4).addClass('grabbing');
                        $('td', row).eq(5).addClass('grabbing');
                        $('td', row).eq(6).addClass('grabbing');
                        $('td', row).eq(7).addClass('not-allowed');

                    },
                    "columns": [
                        {
                            "data": "id",
                            "width": "3%",
                        },
                        {
                            "data": "cardName",
                            "width": "20%",
                        },
                        {
                            "data": "createdUser",
                            "width": "10%",
                        },
                        {
                            "data": "createDateAsString",
                            "width": "10%",
                        },
                        {
                            "data": "projectName",
                            "width": "10%",
                        },
                        {
                            "data": "subject",
                            "width": "20%",
                        },
                        {
                            "data": "supportType",
                            "width": "7%",
                            "render": function (data, type, row) {

                                return '<span>' + data + '</span>';
                            }
                        },
                        {
                            "data": "priority",
                            "width": "5%",
                            "render": function (data, type, row) {

                                var cls = "btn-primary btn-sm";
                                var opts = "";

                                if (data == 1) {

                                    cls = "btn-primary btn-sm";
                                    opts = '<option value="1" selected>Düşük</option>' +
                                        '<option value="2">Orta</option>' +
                                        '<option value="3">Yüksek</option>';

                                }
                                else if (data == 2) {

                                    cls = "btn-warning btn-sm";
                                    opts = '<option value="1">Düşük</option>' +
                                        '<option value="2" selected>Orta</option>' +
                                        '<option value="3">Yüksek</option>';
                                }
                                else {

                                    cls = "btn-danger btn-sm";
                                    opts = '<option value="1">Düşük</option>' +
                                        '<option value="2">Orta</option>' +
                                        '<option value="3" selected>Yüksek</option>';

                                }


                                return '<select class="form-control selectpicker" title="Primary" data-key="' + row["id"] + '" id="priority" data-style="' + cls + '">' +
                                    opts +
                                    '</select>';

                            }
                        },
                        {
                            "data": "status",
                            "width": "5%",
                            "render": function (data, type, row) {

                                if (data === "YeniTalep") {
                                    return '<span class="label label-danger label-pill label-inline mr-2">Yeni</span>';
                                }
                                else if (data === "Development") {
                                    return '<span class="label label-warning label-pill label-inline mr-2">Yazılımda</span>'
                                }
                                else if (data === "Close") {
                                    return '<span class="label label-dark label-inline mr-2">Kapalı</span>'
                                } else {
                                    return '<span class="label label-info label-inline mr-2">Açık</span>';
                                }
                            }
                        },
                        {
                            "data": "id",
                            "width": "5%",
                            "render": function (data, type, row) {
                                return '<a onclick="FillForm(' + data + ',event)" class="btn btn-dark btn-sm">Düzenle</a>'
                            }
                        },
                        {
                            "data": "id",
                            "width": "5%",
                            "render": function (data, type,row ,rowIndex) {

                                var subTicketCount = row["subTicketCount"];



                                var retval = '<a onclick="GetSubTickets(' + data + ',' + rowIndex.row + ')" class="btn btn-light btn-sm">Alt İşler</a>';
                                if (subTicketCount > 0) {
                                    retval = '<a onclick="GetSubTickets(' + data + ',' + rowIndex.row + ')" class="btn btn-success btn-sm">Alt İşler</a>';
                                }

                                return retval;
                            }
                        }

                    ],
                    "initComplete": function (settings, json) {
                        $('.selectpicker').selectpicker();

                        $('#ticketList thead th').removeClass('customCell');


                    },
                    "drawCallback": function (settings) {
                        $('.selectpicker').selectpicker();

                        $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {

                            var ticketId = e.currentTarget.attributes[2].nodeValue;

                            var data = { Id: ticketId, Priority: clickedIndex };

                            $.ajax({
                                type: 'POST',
                                url: '../../Ticket/UpdatePriority',
                                data: data,
                                success: function () {
                                    RenderData();
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    Swal.fire("Hata!", "Hata Oluştu.", "error");
                                }
                            });


                        });
                    }
                });

            }
        });

    }

</script>
<div class="card card-custom">

    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                İş Listesi
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <a onclick="ClearForm()" class="btn btn-primary font-weight-bolder" data-toggle="modal" data-target="#modalTicket">
                <span class="svg-icon svg-icon-md">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" cx="9" cy="15" r="6" />
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>Yeni Kayıt
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">

        <form class="kt-form kt-form--fit mb-4" id="frmFilter">
            <div class="row mb-6">
                <div class="col-lg-1 mb-lg-0 mb-6">
                    <label>Ticket Id:</label>
                    <input type="text" class="form-control datatable-input" id="Id" data-col-index="0" />
                </div>
                <div class="col-lg-2 mb-lg-0 mb-6">
                    <label>Destek Tipi:</label>
                    <select class="form-control datatable-input" id="SupportType" data-col-index="6">
                        <option value="-1">Hepsi</option>
                        <option value="1">Yerinde Destek</option>
                        <option value="2">Telefon</option>
                        <option value="3">Mail</option>
                        <option value="4">Uzaktan Destek</option>
                    </select>
                </div>
                <div class="col-lg-2 mb-lg-0 mb-6">
                    <label class="col-md-12">Cari Adı:</label>
                    <select multiple="multiple" class="form-control datatable-input" id="CardCode" name="cardCodes" data-col-index="0">
                    </select>
                </div>
                <div class="col-lg-2 mb-lg-0 mb-6">
                    <label>Konu:</label>
                    <input type="text" class="form-control datatable-input" id="Subject" name="Subject" data-col-index="0" />
                </div>
                <div class="col-lg-2 mb-lg-0 mb-6">
                    <label class="col-md-12">Kullanıcı:</label>
                    <select multiple="multiple" class="form-control datatable-input" id="UserId" name="userIds" data-col-index="0">
                    </select>
                </div>
                <div class="col-lg-2 mb-lg-0 mb-6">
                    <label class="col-md-12">Durum:</label>
                    <select multiple="multiple" class="form-control datatable-input" id="Status" name="statuList" data-col-index="6">
                        <option value="1" selected="selected">Açık</option>
                        <option value="2">Kapalı</option>
                        <option value="4" selected="selected">Yeni Talep</option>
                    </select>
                </div>
                <div class="col-lg-1 mb-lg-0 mb-6">
                    <label class="col-md-12">Öncelik:</label>
                    <select multiple="multiple" class="form-control datatable-input" id="Priority" name="Priority" data-col-index="6">
                        <option value="1" selected="selected">Düşük</option>
                        <option value="2" selected>Orta</option>
                        <option value="3" selected="selected">Yüksek</option>
                    </select>
                </div>
            </div>
            <div class="row mt-8">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-primary--icon" id="reload">
                        <span>
                            <i class="la la-search"></i>
                            <span>Ara</span>
                        </span>
                    </button>&#160;&#160;
                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                        <span>
                            <i class="la la-close"></i>
                            <span>Temizle</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>


        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="ticketList" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cari</th>
                    <th>Kullanıcı</th>
                    <th>Oluşturma Tarihi</th>
                    <th>Proje</th>
                    <th>Konu</th>
                    <th>Destek Tipi</th>
                    <th>Öncelik</th>
                    <th>Durum</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>

        <!--end: Datatable-->
    </div>

</div>







<div class="modal fade" id="modalSubTicketList" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title" id="subTicketTitle"></h7>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom">
                    <div class="col-sm-12">
                        <h6 id="subTicketSubTitle"></h6>
                        <span class="btn btn-light-success btn-sm text-uppercase font-weight-bolder" style="float:right;margin-top:2px" onclick="ClearSubTicketForm()" data-toggle="modal" data-target="#modalSubTicket" title="Previose page">Yeni İş</span>
                        <span class="btn btn-light-danger btn-sm text-uppercase font-weight-bolder" style="margin-right:2px;float:right;margin-top:2px" onclick="SendMail()" title="Previose page">Mail Gönder</span>
                    </div>
                    <div class="card-body" id="subTickets" style="overflow: scroll;max-height:700px">



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modalSubTicket" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alt İş <label id="lblTicketId"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom">

                    <form name="frmSubTicket" class="form">

                        <div class="card-body">
                            <div class="form-group mb-8">
                                <input type="hidden" name="Id" />
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Açıklama</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" name="Description" data-provide="markdown" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Kullanıcı</label>
                                <div class="col-lg-10">
                                    <select name="UserId" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-datetime-local-input" class="col-lg-2 col-form-label">Başlangıç Tarihi</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Tarih Seç" id="StartDate" />

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-datetime-local-input" class="col-lg-2 col-form-label">Bitiş Tarihi</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Tarih Seç" id="EndDate" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <label class="checkbox">
                                    <input type="checkbox" name="AllDay" value="true" />
                                    <span></span>
                                    Tüm Gün
                                </label>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Durum</label>
                                <div class="col-lg-10">
                                    <select name="Status" class="form-control">
                                        <option value="1">Açık</option>
                                        <option value="2">Kapalı</option>
                                        <option value="3">Yazılımda</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <label class="checkbox">
                                    <input type="checkbox" name="CloseTicket" value="true" />
                                    <span></span>
                                    Ticket Kapat
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Dosya Eki:</label>

                                <input type="file" name="File" />

                                <input type="hidden" name="Attachment" />

                                <a id="attLink" style="display:none">Eklenti</a>

                            </div>

                        </div>

                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Kapat</button>
                <button type="button" onclick="SubTicketAdd()" data-dismiss="modal" class="btn btn-primary font-weight-bold">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTicket" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ticket Giriş</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom">

                    <!--begin::Form-->
                    <form name="frmTicket" class="form">
                        <input type="hidden" name="Id" />
                        <input type="hidden" name="Status" />

                        <div class="card-body">
                            <div class="form-group mb-8">

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Cari</label>
                                <div class="col-lg-10">
                                    <select name="CardCode" class="form-control">
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Ürün</label>
                                <div class="col-lg-10">
                                    <select class="form-control" name="ProductId">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Kullanıcı</label>
                                <div class="col-lg-10">
                                    <select name="UserId" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Proje</label>
                                <div class="col-lg-10">
                                    <select name="ProjectId" class="form-control">
                                        <option value="-1">Proje Bağımsız</option>
                                        <option value="21">A Proje</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Destek Tipi</label>
                                <div class="col-lg-10">
                                    <select name="SupportType" class="form-control">
                                        <option value="1">Yerinde Destek</option>
                                        <option value="2">Telefon</option>
                                        <option value="3">Mail</option>
                                        <option value="4">Uzaktan Destek</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Tahmini Bitiş Tarihi</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control form-control-solid" id="EstimatedEndDate" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2">Etiket</div>
                                <div class="col-lg-10 col-md-10 col-sm-10">
                                    <input id="kt_tagify_5" class="form-control tagify" name='tags3' placeholder="Etiket Ekle" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2"></div>
                                <label class="checkbox">
                                    <input type="checkbox" name="Billing" value="true" />
                                    <span></span>
                                    Faturalandırılmayacak
                                </label>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Konu</label>
                                <div class="col-lg-10">
                                    <input class="form-control" name="Subject" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Açıklama</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" name="Description" data-provide="markdown" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Dosya Eki:</label>

                                <input type="file" name="File" />

                                <input type="hidden" name="Attachment" />

                                <div id="divLinks" style="display:none">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-dark font-weight-bold" onclick="CancelTicket()" data-dismiss="modal">Ticket İptal</button>
                <button type="button" onclick="TicketSaveChanges(false)" class="btn btn-primary font-weight-bold">Kaydet</button>
                <button type="button" onclick="TicketSaveChanges(true)" class="btn btn-success font-weight-bold">Kaydet Ve SubTicket Aç</button>
            </div>
        </div>
    </div>
</div>


<script>
var table;
    $(document).ready(function () {

        $('#Status').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%'
        });

        $('#Priority').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%'
        });

        RenderDateTimePicker('StartDate', '');
        RenderDateTimePicker('EndDate', '');
       // RenderDatePicker('EstimatedEndDate','');

        $('[name="CardCode"]').change(function () {
            callback();
        });

        $('[name="ProductId"]').change(function () {
            callback();
        });

        var callback = function () {

            var data = [];

            var cardCode = $('[name="CardCode"]').val();
            var productId = $('[name="ProductId"]').val();

            data.push({ name: "cardCode", value: cardCode });
            data.push({ name: "productId", value: productId });

            FillDropDown("/JsonObject/GetProjectsForDropDown", "ProjectId", null, data);
        };

        var callback2 = function () {

            FillDropDown("/JsonObject/GetProductsForDropDown", "ProductId", null, null, callback);
        };

        FillDropDown("/JsonObject/GetCustomersForDropDown", "CardCode", null, null, callback2);

        FillMultiDropDown("/JsonObject/GetUsersForDropDown", "UserId");
        FillMultiDropDown("/JsonObject/GetCustomersForDropDown", "CardCode");

        FillDropDown("/JsonObject/GetUsersForDropDown", "UserId","@ViewData["UserId"]");

        $("#menuUser").removeClass("menu-item-open menu-item-here");
        $("#menuTicket").removeClass("menu-item-open menu-item-here").addClass("menu-item-open menu-item-here");
        $("#menuCalendar").removeClass("menu-item-open menu-item-here");
        $("#menuProject").removeClass("menu-item-open menu-item-here");
        $("#menuVersion").removeClass("menu-item-open menu-item-here");
        $("#menuCustomer").removeClass("menu-item-open menu-item-here");
        $("#menuReport").removeClass("menu-item-open menu-item-here");

        $("#reload").click(function () {
            RenderData();
        });

        GenerateTagify();


        RenderData();




    $('#btnPdf').on('click', function () {

        table.button(3).trigger();
    });


    });</script>