
<script>

    function RenderTable() {

        var data = $('#frmFilter').serializeArray();

        var startDate = GetFormatedDate($("#StartDate").datepicker('getDate'));

        var endDate = GetFormatedDate($("#EndDate").datepicker('getDate'));

        data.push({ name: "StartDate", value: startDate });

        data.push({ name: "EndDate", value: endDate });

        data.push({ name: "CardCode", value: $('#CardCode').val() });

        $.ajax({
            type: 'POST',
            url: '../Report/GetTicketDetailReport',
            traditional: true,
            data: data,
            success: function (result) {

                var pivot = new WebDataRocks({
                    container: "#output",
                    toolbar: true,
                    report: {
                        dataSource: {
                            data: result
                        },
                        "options": {
                            "grid": {
                                "type": "flat"
                            }
                        },
                        formats: [
                            {
                                "name": "",
                                "decimalPlaces": 4,
                            }
                        ],
                        slice: {
                            rows: [

                                /*{
                                    uniqueName: "subTicketDetail",
                                    caption: "SubTicket Açıklama"
                                }*/
                            ],
                            columns: [
                                {
                                    uniqueName: "workingBy",
                                    caption: "Danışman"
                                },
                                {
                                    uniqueName: "owner",
                                    caption: "Talep Sahibi"
                                },
                                {
                                    uniqueName: "ticketDetail",
                                    caption: "Ticket Açıklama"
                                },
                                {
                                    uniqueName: "startDate",
                                    caption: "Tarih"
                                },
                                {
                                    uniqueName: "subTicketDetail",
                                    caption: "SubTicket Açıklama"
                                },
                                {
                                    uniqueName: "isRejected",
                                    caption: "Onay İptal"
                                }
                            ],
                            measures: [
                                {
                                    "uniqueName": "workDay",
                                    caption: "Toplam Çalışma (Gün)",
                                    "aggregation": "sum"
                                },
                                {
                                    "uniqueName": "workHour",
                                    caption: "Toplam Çalışma (Saat)",
                                    "aggregation": "sum"
                                }
                            ],

                        }
                    },
                    global: {
                        // replace this path with the path to your own translated file
                        localization: "https://cdn.webdatarocks.com/loc/tr.json"
                    }
                });



            }
        });


        
    }

</script>

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Ticket Detay Raporu
            </h3>
        </div>
    </div>
    <div class="card-body">
        <form class="kt-form kt-form--fit mb-15" id="frmFilter">
            <div class="row mb-6">
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Başlangıç Tarihi:</label>
                    <input type="text" class="form-control datetimepicker-input" placeholder="Tarih Seç" id="StartDate" />

                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Bitiş Tarihi:</label>
                    <input type="text" class="form-control datetimepicker-input" placeholder="Tarih Seç" id="EndDate" />

                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Cari Kodu:</label>
                    <select class="form-control datatable-input" id="CardCode" data-col-index="0">
                        <option value="">Hepsi</option>
                    </select>
                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Faturalandırıldı:</label>
                    <select multiple class="form-control datatable-input" name="Billing" id="Billing" data-col-index="0">
                        <option value="0">Evet</option>
                        <option value="1">Hayır</option>
                    </select>
                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Proje:</label>
                    <select multiple class="form-control datatable-input" name="ProjectIds" id="ProjectId" data-col-index="0">
                        
                    </select>
                </div>
            </div>
            <div class="row mt-8">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-primary--icon" id="reload">
                        <span>
                            <i class="la la-search"></i>
                            <span>Ara</span>
                        </span>
                    </button>&#160;&#160;
                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                        <span>
                            <i class="la la-close"></i>
                            <span>Temizle</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <div id="output" style="width:100%"></div>

    </div>
</div>

<script>var table;
    $(document).ready(function () {

        $("#menuReport").removeClass("menu-item-open menu-item-here").addClass("menu-item-open menu-item-here");;
        $("#menuUser").removeClass("menu-item-open menu-item-here");
        $("#menuTicket").removeClass("menu-item-open menu-item-here");
        $("#menuCalendar").removeClass("menu-item-open menu-item-here");
        $("#menuProject").removeClass("menu-item-open menu-item-here");
        $("#menuVersion").removeClass("menu-item-open menu-item-here");
        $("#menuCustomer").removeClass("menu-item-open menu-item-here");

        RenderDatePicker("StartDate", new Date(new Date().setMonth(new Date().getMonth() - 1)));
        RenderDatePicker("EndDate", new Date());


        $('#CardCode').change(function () {
            callback();
        });

        var callback = function () {

            var data = [];

            var cardCode = $('#CardCode').val();

            data.push({ name: "cardCode", value: cardCode });

            FillMultiDropDown("/JsonObject/GetProjectsForDropDown", "ProjectId","-1");
        };


        FillMultiDropDown("/JsonObject/GetCustomersForDropDown", "CardCode", null,null, callback);

        $('#Billing').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%'
        });


        RenderTable();


        $('#reload').on("click", function () {

            RenderTable();
        });




    })</script>



