

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Proje Listesi
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline mr-2">

            </div>
            <!--end::Dropdown-->
            <!--begin::Button-->
            <a href="../../Project/Index" class="btn btn-primary font-weight-bolder">
                <i class="la la-plus"></i>Yeni Kayıt
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <form class="kt-form kt-form--fit mb-15" id="frmFilter">
            <div class="row mb-6">
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Durum</label>
                    <select multiple class="form-control datatable-input" id="Status" data-col-index="6">
                        <option value="1">Açık</option>
                        <option value="2">Kapalı</option>
                    </select>
                </div>
            </div>
            <div class="row mt-8">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-primary--icon" id="reload">
                        <span>
                            <i class="la la-search"></i>
                            <span>Ara</span>
                        </span>
                    </button>&#160;&#160;
                </div>
            </div>
        </form>
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="projectList">
            <thead>
                <tr>
                    <th>Proje ID</th>
                    <th>Proje Adı</th>
                    <th>Cari İsim</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>Adam/Gün</th>
                    <th>Toplam Çalışma Zamanı</th>
                    <th>Durum</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>
        <!--end: Datatable-->
    </div>
</div>

<script>$(document).ready(function () {

        $("#menuUser").removeClass("menu-item-open menu-item-here");
        $("#menuTicket").removeClass("menu-item-open menu-item-here");
        $("#menuCalendar").removeClass("menu-item-open menu-item-here");
        $("#menuProject").removeClass("menu-item-open menu-item-here").addClass("menu-item-open menu-item-here");
        $("#menuVersion").removeClass("menu-item-open menu-item-here");
        $("#menuCustomer").removeClass("menu-item-open menu-item-here");
        $("#menuReport").removeClass("menu-item-open menu-item-here");

        $('#Status').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%'
        });


        var table = $('#projectList').DataTable({
            "processing": true,
            "searching": false,
            "info": false,
            "paging": false,
            "serverSide": true,
            "ordering": false,
            "ajax": {
                "url": "../../Project/GetProjects",
                "dataType": "JSON",
                "traditional": true,
                "data": function (d) {
                    d.statuList = $('#Status').val();
                }
            },
            "columns": [
                {
                    "data": "id",
                    "autoWidth": true,
                },
                {
                    "data": "projectName",
                    "autoWidth": true,
                },
                {
                    "data": "cardName",
                    "autoWidth": true,
                },
                {
                    "data": "startDateAsString",
                    "autoWidth": true,
                },
                {
                    "data": "endDateAsString",
                    "autoWidth": true,
                },
                {
                    "data": "manHour",
                    "autoWidth": true,
                },
                {
                    "data": "totalWorkingTime",
                    "autoWidth": true,
                },
                {
                    "data": "status",
                    "autoWidth": true,
                    "render": function (data, type, row) {

                        if (data === 2) {
                            return '<span class="label label-danger label-pill label-inline mr-2">Kapalı</span>';
                        }
                        else {
                            return '<span class="label label-info label-pill label-inline mr-2">Açık</span>';
                        }
                    }
                },
                {
                    "data": "id",
                    "render": function (data, type, row) {
                        return '<a href="/Project/Index/' + data + '" class="btn btn-primary">Düzenle</a>'
                    }
                }

            ]
        });

        $("#reload").click(function () {
            table.ajax.reload();
        });

    })</script>



