

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Müşteri Listesi
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline mr-2">

            </div>
            <!--end::Dropdown-->
            <!--begin::Button-->
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <form class="kt-form kt-form--fit mb-15">
            <div class="row mb-6">
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Cari Adı:</label>
                    <input type="text" class="form-control datatable-input" id="CardName" data-col-index="0" />
                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Cari Kodu:</label>
                    <input type="text" class="form-control datatable-input" id="CardCode" data-col-index="0" />
                </div>
            </div>
            <div class="row mt-8">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-primary--icon" id="reload">
                        <span>
                            <i class="la la-search"></i>
                            <span>Ara</span>
                        </span>
                    </button>&#160;&#160;
                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                        <span>
                            <i class="la la-close"></i>
                            <span>Temizle</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>

        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom table-checkable" id="customerList">
            <thead>
                <tr>
                    <th>Cari Kodu</th>
                    <th>Cari İsim</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Vergi No</th>
                    <th>Vergi Dairesi</th>
                    <th>Adam/Gün Ücret</th>
                    <th>Para Birimi</th>
                    <th>Aktif</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>
        <!--end: Datatable-->
    </div>
</div>

<script>$(document).ready(function () {

        $("#menuUser").removeClass("menu-item-open menu-item-here");
        $("#menuTicket").removeClass("menu-item-open menu-item-here");
        $("#menuCalendar").removeClass("menu-item-open menu-item-here");
        $("#menuVersion").removeClass("menu-item-open menu-item-here");
        $("#menuCustomer").removeClass("menu-item-open menu-item-here").addClass("menu-item-open menu-item-here");
        $("#menuProject").removeClass("menu-item-open menu-item-here");
        $("#menuReport").removeClass("menu-item-open menu-item-here");

        var table = $('#customerList').DataTable({
            "processing": true,
            "searching": false,
            "info": false,
            "paging": false,
            "serverSide": true,
            "ordering": false,
            "ajax": {
                "url": "../../Customer/GetCustomers",
                "dataType": "JSON",
                "data": function (d) {
                    d.cardCode = $('#CardCode').val();
                    d.cardName = $('#CardName').val();
                }
            },
            "columns": [
                {
                    "data": "cardCode",
                    "autoWidth": true,
                },
                {
                    "data": "cardName",
                    "autoWidth": true,
                },
                {
                    "data": "telephone",
                    "autoWidth": true,
                },
                {
                    "data": "email",
                    "autoWidth": true,
                },
                {
                    "data": "taxNumber",
                    "autoWidth": true,
                },
                {
                    "data": "taxOffice",
                    "autoWidth": true,
                },
                {
                    "data": "manHourPrice",
                    "autoWidth": true,
                },
                {
                    "data": "currency",
                    "autoWidth": true,
                },
                {
                    "data": "isActive",
                    "autoWidth": true,
                },
                {
                    "data": "id",
                    "render": function (data, type, row) {
                        return '<a href="/Customer/Index/' + data + '" class="btn btn-primary">Düzenle</a>'
                    }
                }

            ]
        });



        $("#reload").click(function () {
            table.ajax.reload();
        });


    if ('@ViewData["UserRole"].ToString()' != "Admin") {
        
            var column = table.column(4);

            column.visible(!column.visible());
        }

    })</script>



