
<script>function GetSubTickets(ticketId) {

        $.ajax({
            type: 'GET',
            url: '../../Ticket/GetSubTicketsForCustomers',
            data: { ticketId: ticketId },
            success: function (data) {

                $('#subTickets').empty();

                if (data == "") {

                    Swal.fire("Bilgilendirme!", "Alt İş Kaydı Bulunamadı.", "info");

                } else {
                    $('#subTickets').append(data);

                    $('#modalSubTicket').modal();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                Swal.fire("Hata!", "Hata Oluştu.", "error");
            }
        });
    }

    function GetTicket(id) {

        $.ajax({
            type: 'GET',
            url: '../../Ticket/GetTicketById',
            data: { id: id },
            success: function (data) {

                var dsc = data.data.description;

                $("[name='Description']").val(dsc);

                $('#modalTicket').modal();
            }
        });
    }</script>
<style>
    .customCell{
        font-size:13px!important;
        padding:2px 2px 2px 2px!important;
    }
    .customButtonCell {
        font-size: 13px !important;
        padding: 2px 2px 2px 2px !important;
        text-align:center;
    }
    .modal-open {
        overflow-y: hidden!important;
    }
</style>





<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Ticket Listesi
            </h3>
        </div>
    </div>
    <div class="card-body">

        <form class="kt-form kt-form--fit mb-4">
            <input type="hidden" id="CardCode" value="@ViewData["CardCode"]" />
            <div class="row mb-6">
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Ticket Id:</label>
                    <input type="text" class="form-control datatable-input" id="Id" data-col-index="0" />
                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Destek Tipi:</label>
                    <select class="form-control datatable-input" id="SupportType" data-col-index="6">
                        <option value="-1">Hepsi</option>
                        <option value="1">Yerinde Destek</option>
                        <option value="2">Telefon</option>
                        <option value="3">Mail</option>
                        <option value="4">Uzaktan Destek</option>
                    </select>
                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label>Konu:</label>
                    <input type="text" class="form-control datatable-input" id="Subject" data-col-index="0" />
                </div>
                <div class="col-lg-3 mb-lg-0 mb-6">
                    <label class="col-md-12">Durum:</label>
                    <select multiple="multiple" class="form-control datatable-input" id="Status" data-col-index="6">
                        <option value="1" selected="selected">Açık</option>
                        <option value="2">Kapalı</option>
                        <option value="4" selected="selected">Yeni Talep</option>
                    </select>
                </div>
            </div>
            <div class="row mt-8">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-primary--icon" id="reload">
                        <span>
                            <i class="la la-search"></i>
                            <span>Ara</span>
                        </span>
                    </button>&#160;&#160;
                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                        <span>
                            <i class="la la-close"></i>
                            <span>Temizle</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-bordered table-hover table-checkable" id="ticketList" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Atanan Kişi</th>
                    <th>Oluşturma Tarihi</th>
                    <th>Proje</th>
                    <th>Konu</th>
                    <th>Destek Tipi</th>
                    <th>Öncelik</th>
                    <th>Durum</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>
       
    </div>
</div>

<div class="modal fade" id="modalTicket" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ticket Detay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom">

                    <!--begin::Form-->
                    <form name="frmTicket" class="form">

                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Açıklama</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" name="Description" data-provide="markdown" rows="30"></textarea>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSubTicket" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alt İşler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom">
                    <div class="card-body" id="subTickets" style="overflow: scroll;max-height:500px">



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>var table;
    $(document).ready(function () {

        $('#Status').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%'
        });


        $("#modalSubTicket").on("show.bs.modal", function () {
            $("body").addClass("modal-open");
        }).on("hide.bs.modal", function () {
            $("body").removeClass("modal-open")
        });


        $("#reload").click(function () {
            table.ajax.reload();
        });

        $("#menuReport").removeClass("menu-item-open menu-item-here").addClass("menu-item-open menu-item-here");;
        $("#menuUser").removeClass("menu-item-open menu-item-here");
        $("#menuTicket").removeClass("menu-item-open menu-item-here");
        $("#menuProject").removeClass("menu-item-open menu-item-here");
        $("#menuVersion").removeClass("menu-item-open menu-item-here");
        $("#menuCustomer").removeClass("menu-item-open menu-item-here");
        $("#menuCalendar").removeClass("menu-item-open menu-item-here");

        table = $('#ticketList').DataTable({
            dom: 'Bfrtip', //Excel export için frtip olması gerekiyor.
            "select": true,
            "processing": true,
            "searching": false,
            "info": false,
            "paging": false,
            "serverSide": true,
            "ordering": false,
            "responsive": true,
            buttons: [
                'copy',
                'excel',
                'csv',
                'pdf'
            ],
            columnDefs: [
                {
                    className: 'customButtonCell', targets: 7
                },
                {
                    className: 'customButtonCell', targets: 8
                },
                {
                    className: 'customButtonCell', targets: 9
                },
                {
                    className: 'customCell', targets: "_all"
                }
               
            ],
            "ajax": {
                "url": "../../Ticket/GetTickets",
                "dataType": "JSON",
                "traditional": true,
                "data": function (d) {
                    d.id = $('#Id').val();
                    d.statuList = $('#Status').val();
                    d.subject = $('#Subject').val();
                    d.supportType = $('#SupportType').val();
                    d.cardCodes = $('#CardCode').val();
                }
            },
            "columns": [
                {
                    "data": "id",
                    "autoWidth": true,
                    
                },
                {
                    "data": "createdUser",
                    "autoWidth": true,
                },
                {
                    "data": "createDateAsString",
                    "autoWidth": true,
                },
                {
                    "data": "projectName",
                    "autoWidth": true,
                },
                {
                    "data": "subject",
                    "width": '30%',
                },
                {
                    "data": "supportType",
                    "autoWidth": true,
                    "render": function (data, type, row) {

                        return '<span>' + data + '</span>';
                    }
                },
                {
                    "data": "priority",
                    "autoWidth": true,
                    "render": function (data, type, row) {

                        var cls = "btn-primary btn-sm";
                        var opts = "";

                        if (data == 1) {

                            cls = "btn-primary btn-sm";
                            opts = '<option value="1" selected>Düşük</option>' +
                                '<option value="2">Orta</option>' +
                                '<option value="3">Yüksek</option>';

                        }
                        else if (data == 2) {

                            cls = "btn-warning btn-sm";
                            opts = '<option value="1">Düşük</option>' +
                                '<option value="2" selected>Orta</option>' +
                                '<option value="3">Yüksek</option>';
                        }
                        else {

                            cls = "btn-danger btn-sm";
                            opts = '<option value="1">Düşük</option>' +
                                '<option value="2">Orta</option>' +
                                '<option value="3" selected>Yüksek</option>';

                        }


                        return '<select class="form-control selectpicker" title="Primary" data-key="' + row["id"] + '" id="priority" data-style="' + cls + '">' +
                            opts +
                            '</select>';

                    }
                },
                {
                    "data": "status",
                    "autoWidth": true,
                    "render": function (data, type, row) {

                        if (data === "YeniTalep") {
                            return '<span class="label label-danger label-pill label-inline mr-2">Yeni</span>';
                        }
                        else if (data === "Development") {
                            return '<span class="label label-warning label-pill label-inline mr-2">Yazılımda</span>'
                        }
                        else if (data === "Close") {
                            return '<span class="label label-dark label-inline mr-2">Kapalı</span>'
                        } else {
                            return '<span class="label label-info label-inline mr-2">Açık</span>';
                        }
                    }
                },
                {
                    "data": "id",
                    "render": function (data, type, row) {
                        return '<a onclick="GetTicket(' + data + ')" class="btn btn-dark btn-sm">Detay</a>'
                    }
                },
                {
                    "data": "id",
                    "render": function (data, type, row) {

                        var subTicketCount = row["subTicketCount"];

                        var retval = '<a onclick="GetSubTickets(' + data + ')" class="btn btn-light btn-sm">Alt İşler</a>';
                        if (subTicketCount > 0) {
                            retval = '<a onclick="GetSubTickets(' + data + ')" class="btn btn-success btn-sm">Alt İşler</a>';
                        }

                        return retval; 
                    }
                }
            ],
            "initComplete": function (settings, json) {
                $('.selectpicker').selectpicker();

                $('#ticketList thead th').removeClass('customCell');

                $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {

                    var ticketId = e.currentTarget.attributes[2].nodeValue;

                    var data = { Id: ticketId, Priority: clickedIndex };

                    $.ajax({
                        type: 'POST',
                        url: '../../Ticket/UpdatePriority',
                        data: data,
                        success: function () {
                            table.ajax.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            Swal.fire("Hata!", "Hata Oluştu.", "error");
                        }
                    });


                });
            },
            "drawCallback": function (settings) {
                $('.selectpicker').selectpicker();

                $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {

                    var ticketId = e.currentTarget.attributes[2].nodeValue;

                    var data = { Id: ticketId, Priority: clickedIndex };

                    $.ajax({
                        type: 'POST',
                        url: '../../Ticket/UpdatePriority',
                        data: data,
                        success: function () {
                            table.ajax.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            Swal.fire("Hata!", "Hata Oluştu.", "error");
                        }
                    });


                });
            }

        });




    })</script>



